{% extends "home/basic.html" %}

{% block title %}
  block title
{% endblock title %}

{% block css %}
body{ background-color: #FDD4CE;}
.sanika{
  background-color:#917D85
}
{% endblock css %}

{% block body %}
<div class="container">
    
    <div class="row">
    <center>
        <h1 class="display-1">
            Contact Us
        </h1>
        </center>
        <div class="col-12 sanika">
        </br>
        <form action="/contactsubmit/" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label" style="color:#f0f3f7">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label " style="color:#f0f3f7">E-mail address</label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text" style="color:#f0f3f7">
				We'll never share your email with anyone else.
			</div>
            </div>
            
            
        
            <div class="mb-3">
              <label for="phoneNum" class="form-label" style="color:#f0f3f7">Phone Number</label>
              <input type="text" class="form-control" id="phoneNum" name="phone" aria-describedby="numHelp">
             
            </div>
        
            
            
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a Problems here" name="desc" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Description</label>
              </div>
        
              <div class="input-group mb-3">
                <input type="file" name="screenshot" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
              </div>
        
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
          </br>
    </div>
    </div>
    </br>
</div>


{% endblock body %}